$blue: #1E88E5;

$boxShadow: 0px 0px 24px 6px rgba(black, 0.08);

@function gray($color){
  @return rgb($color, $color, $color);
}

html,
body,
#app{  
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  width: 100vw;
}

body {
  background-color: $blue;
  
  h1, a {
    color: gray(90);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
  }
  
  .context-menu-item{
    background-color: white;
    border: none;
    border-radius: 100px;
    box-shadow: $boxShadow;
    height: 50px;
    outline: none;
    padding: 0px;    
    position: absolute;
    transition: left 0.25s, top 0.25s, opacity 0.25s;
    width: 50px;
    
    &:hover{
      cursor: pointer;
      transform: scale(1.05);
      z-index: 2;
      
      h1{
        opacity: 1;
        right: -10px;
      }
      
      i{
        color: $blue;
      }
    }
    
    &:active{
      transform: scale(1);
    }
    
    h1{
      background-color: gray(40);
      border-radius: 4px;
      color: white;
      font-size: 0.8em;
      font-weight: 700;
      opacity: 0;
      padding: 10px;
      pointer-events: none;
      position: absolute;
      right: 0px;
      text-transform: uppercase;
      top: 50%;
      transform: translate(100%, -50%);
      transition: all 0.25s;
      z-index: 2;
    }
    
    i{
      font-size: 1.5em;
    }
  }
  
  #app{
    #instructions{
      left: 50%;
      opacity: 0.6;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      
      h1{        
        color: white;
        font-size: 1em;
      }
    }
    
    #youtube-link{
      bottom: 0px;
      color: white;
      font-size: 1.25em;
      font-weight: 700;
      margin: 20px;
      position: fixed;
      right: 0px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
